= render partial: 'home/blocks/preloader'
= render partial: 'home/blocks/scrollToTop'
= render partial: 'home/blocks/header'
= render partial: 'home/blocks/about'
= render partial: 'home/blocks/service'
= render partial: 'home/blocks/works'
= render partial: 'home/blocks/team'
= render partial: 'home/blocks/pricing'
= render partial: 'home/blocks/blog'
= render partial: 'home/blocks/testimonial'

= render partial: 'home/blocks/clients'
= render partial: 'home/blocks/contact'
= render partial: 'home/blocks/contactFeature'
= render partial: 'home/blocks/subscribe'
= render partial: 'home/blocks/footer'