:scss
  .skills_area {
    margin-top: 70px;
    min-height: 600px;
    .icon-box {
      font-size: 16px;
      color: white;
      text-align: center;
      i {
        font-size: 94px;
      }
      .count {
        font-size: 34px;
        margin-top: 25px;
      }
    }
    .heading {
      margin-left: 150px;
      margin-bottom: 50px;
    }
  }

/ =========== BEGIN ABOUT SECTION ================
%section#about
  .container
    .row
      .col-lg-12.col-md-12
        .about_area
          / START ABOUT HEADING
          .heading
            %h2.wow.fadeInLeftBig О нас
            %p Мы – строительно-производственная компания с 10-ти летним опытом строительства на Украине и за рубежом.
            %p ТОВ ВБК «Комплексгруп» - быстро, качественно, надежно!
          / START ABOUT CONTENT
          .about_content
            .row
              .col-lg-6.col-md-6.col-sm-12
                .about_featured
                  -#TODO: Should be refactor if need accordion
                  #accordion.panel-group
                    / START SINGLE FEATURED ITEAM #1
                    .panel.panel-default.wow.fadeInLeft
                      .panel-heading
                        %h4.panel-title
                          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                            %span.fa.fa-check-square-o>
                            Сэндвич-панели
                      #collapseOne.panel-collapse.collapse.in
                        .panel-body
                          Сэндвич пане́ль (англ. sandwich — многослойный бутерброд) — строительный материал, имеющий трёхслойную структуру, состоящую из двух листов жёсткого материала (металл, ПВХ, ДВП, магнезитовая плита) и слоя утеплителя между ними. Как правило, сэндвич-панели используют при строительстве коммерческих и промышленных зданий (цеха, холодильники, котельни, производства, склады и т.д.)
                    / START SINGLE FEATURED ITEAM #2
                    .panel.panel-default.wow.fadeInLeft
                      .panel-heading
                        %h4.panel-title
                          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
                            %span.fa.fa-check-square-o>
                            SIP-панели
                      #collapseTwo.panel-collapse.collapse
                        .panel-body
                          SIP (англ., Structural Insulated Panel) – структурная изоляционная панель – это стройматериал, что складываться из двух плит ОСП по краям и слоя наполнителя между ними. ОСБ плиты и внутренний наполнитель ( пенополистирол или минеральная вата) склеиваются между собой с помощью полиуретанового клея под давлением в 18 тонн. SIP-панели используются для строительства жилых зданий или же маленьких пристроек к жилым зданиям (дома, гостиницы, бани, гаражи, балконы и т.д.)
              .col-lg-6.col-md-6.col-sm-12
                .about_slider
                  / BEGAIN FEATURED SLIDER
                  .featured_slider
                    / SINGLE SLIDE IN THE SLIDER
                    .single_iteam
                      = link_to '#' do
                        = image_tag('about_us_slider/1-min.jpg', alt: 'img')
                    / SINGLE SLIDE IN THE SLIDER
                    .single_iteam
                      = link_to '#' do
                        = image_tag('about_us_slider/2-min.jpg', alt: 'img')
                      / SINGLE SLIDE IN THE SLIDER
                    .single_iteam
                      = link_to '#' do
                        = image_tag('about_us_slider/3-min.jpg', alt: 'img')
                    .single_iteam
                      = link_to '#' do
                        = image_tag('about_us_slider/4-min.jpeg', alt: 'img')
                    / END FEATURED SLIDER
  / BEGAIN SKILLS
  /mb need return to container path
  .row
    .col-lg-12.col-md-12
      .skills_area
        .slider_overlay
        //container by default here
        .container-fluid
          .skills
            .heading
              %h3.wow.fadeInDown преимущества
            .col-xs-4
              .icon-box
                = icon('money')
                .count x8
                %div теплее кирпичных и бетонных домов
            .col-xs-4
              .icon-box
                = icon('institution')
                .count x4
                %div прочнее деревянно-каркасных конструкций
            .col-xs-4
              .icon-box
                = icon('fast-forward')
                .count x5
                %div быстрее в строительстве
            -#/ START SINGLE SKILL
            -#.col-lg-3.col-md-3.col-sm-3
            -#  .single_skill.wow.fadeInUp
            -#    -##myStat{"data-bgcolor" => "#fff", "data-dimension" => "150", "data-fgcolor" => "#999", "data-fontsize" => "25", "data-icon" => "fa-task", "data-info" => "", "data-percent" => "90", "data-text" => "90%", "data-width" => "10"}
            -#    #myStat{ data: { bgcolor: '#fff', dimension: '150', fgcolor: '#999', fontsize: '25', icon: 'fa-task', info: '', percent: '85', text: '85%', width: '10' } }
            -#    %h4 Design
            -#/ START SINGLE SKILL
            -#.col-lg-3.col-md-3.col-sm-3
            -#  .single_skill.wow.fadeInUp
            -#    #myStathalf2{ data: { bgcolor: '#fff', dimension: '150', fgcolor: '#999', fontsize: '25', icon: 'fa-task', info: '', percent: '85', text: '85%', width: '10' } }
            -#    %h4 HTML/CSS
            -#/ START SINGLE SKILL
            -#.col-lg-3.col-md-3.col-sm-3
            -#  .single_skill.wow.fadeInUp
            -#    #myStat2{ data: { bgcolor: '#fff', dimension: '150', fgcolor: '#999', fontsize: '25', icon: 'fa-task', info: '', percent: '85', text: '85%', width: '10' } }
            -#    %h4 jQuery
            -#/ START SINGLE SKILL
            -#.col-lg-3.col-md-3.col-sm-3
            -#  .single_skill.wow.fadeInUp
            -#    #myStat3{ data: { bgcolor: '#fff', dimension: '150', fgcolor: '#999', fontsize: '25', icon: 'fa-task', info: '', percent: '85', text: '85%', width: '10' } }
            -#    %h4 WordPress
            / END SKILLS
          / =========== END ABOUT SECTION ================