/ =========== BEGAIN FOOTER ================
%footer#footer
  .container
    .row
      .col-lg-6.col-md-6.col-sm-6
        .footer_left
          -#%p
          -#  Copyright © 2015
          -#  = succeed "." do
          -#    %a{:href => "http://www.wpfreeware.com"} WpFreeware
      .col-lg-6.col-md-6.col-sm-6
        .footer_right
          %ul.social_nav
            %li
              = link_to '#' do
                = icon('facebook')
            %li
              = link_to '#' do
                = icon('twitter')
            %li
              = link_to '#' do
                = icon('google-plus')
            %li
              = link_to '#' do
                = icon('linkedin')
/ =========== END FOOTER ================