:scss
  .test {
    img {
      width: 50px!important;
      height: 50px!important;
    }

  }


/ BEGIN SLIDER AREA
.slider_area
  / BEGIN SLIDER
  #slides
    %ul.slides-container
      / THE FIRST SLIDE
      %li
        / FIRST SLIDE OVERLAY
        .slider_overlay
        / FIRST SLIDE MAIN IMAGE
        = image_tag('full-slider/full-slide1.jpg', alt: 'img')
        / FIRST SLIDE CAPTION
        .slider_caption
          %h2 Строительство по канадской технологии
          %p.fist-slider-phrase Низкие цены, поскольку есть собственное производство
          %p.second-slider-phrase Более 10 лет опыта строительства в Украине и зарубежом
          %p.third-slider-phrase Лидеры строительства по Украине
          -#%a.slider_btn{:href => "#"} Who We are
      / THE SECOND SLIDE
      %li
        / SECOND SLIDE OVERLAY
        .slider_overlay
        / SECOND SLIDE MAIN IMAGE
        = image_tag('full-slider/full-slide2.jpg', alt: 'img')
        / SECOND SLIDE CAPTION
        .slider_caption
          %h2 Производство SIP панелей
          %p.fist-slider-phrase Низкие цены, поскольку есть собственное производство
          %p.second-slider-phrase Высококачественные материалы
          %p.third-slider-phrase Производство под заказ
          %p Высокая скорость
      / THE THIRD SLIDE
      %li
        / THIRD SLIDE OVERLAY
        .slider_overlay
        / THIRD SLIDE MAIN IMAGE
        = image_tag('full-slider/full-slide3.jpg', alt: 'img')
        / THIRD SLIDE CAPTION
        .slider_caption
          %h2 Производство сэндвич панелей
          %p.fist-slider-phrase Низкие цены, поскольку есть собственное производство
          %p.second-slider-phrase Высококачественные материалы
          %p.third-slider-phrase Производство под заказ
          %p Высокая скорость
    / BEGAIN SLIDER NAVIGATION
    %nav.slides-navigation
      / PREV IN THE SLIDE
      = link_to '/item1', class: 'prev' do
        %span.icon-wrap
        %h3
          %strong Prev
      / NEXT IN THE SLIDE
      = link_to '/item3', class: 'next' do
        %span.icon-wrap
        %h3
          %strong Next
  / END SLIDER
/ END SLIDER AREA